.overview{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    
    margin-top: 70px;
    color: white;
  
  
}

.stats-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    flex: 1;
    text-align: center;
    background-color: #354C66;
    flex: 1 1 30%;
        margin: 10px;/
}
.stats-item:nth-child(even){
background-color: #21B573;
}

.stats-item h3 {
   font-family: 'KoHo,sans-serif';
    font-size: 30px;
    font-weight: 700;
}

.stats-item p {
    margin: 5px 0 0;
}


.rating-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 446px;
   position: relative;
   top: 10px;
    width: 100%;
   
}

@media screen and (max-width:992px) {
        .overview{
            gap: 10px;
        }
                .stats-item {
                    flex: 1 1 45%;
                   
                }
        
                .rating-section {
                    flex-direction: column;
              
                }

      @media screen and (max-width: 768px) {
    .stats-item {
        flex: 1 1 100%;
       
    }

    .stats-item h3 {
        font-size: 24px;
       
    }

    .stats-item p {
        font-size: 14px;
   
    }
}
}
@media screen and (max-width: 576px) {
    .stats-item h3 {
        font-size: 20px;
     
    }

    .stats-item p {
        font-size: 12px;

    }
}
